* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@font-face {
    font-family: eurof;
    src: url('../fonts/eurofurence/eurof55.ttf');
}

@font-face {
    font-family: lato;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('../fonts/Lato/Lato-Bold.ttf');
}



body {
    margin: 0;
    font-family: 'lato','Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    width: 100%; 
}

h2 {
    margin: 0;
    font-size: 26px;
}
h1 {
    margin: 0px;
}

.point {
    color: #58c93a; 
}


.container-head {
    margin: 0 auto;
    max-width: 980px;
    height: 130px;
}

header {
width: 100%;   
background-color:#292929;

color:  #f8f8f8;
box-shadow:inset 0 0 0 5px #1e1e1e;
}


header h1.logo {
font-family: 'eurof','Times New Roman', Times, serif;
font-weight: normal;
margin: 0;
font-size: 40px;
}

ul.main-menu {
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(10, 5, 5, 0.58);
    border-left: 1px solid rgba(102, 102, 102, 0.5);
    min-width: 250px;
    transform: translate(100%, 0);

    transition: all .8s;
}

ul.main-menu.open {
    transform: translate(0, 0);
}
.main-menu a {
    color: white;
    text-decoration: dotted;
    display: block;
    width: 130px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    font-size: 18px;
    font-family: 'lato-bold','Verdana', 'Geneva', 'Tahoma', 'sans-serif'
}


.main-menu a:hover {
    color: #58c93a;
    box-shadow: inset 0px -5px  #58c93a;
}

.main-menu a.active {
    color: #58c93a;
    /* border-bottom: solid 2px; */
    box-shadow: inset 0px -5px  #58c93a;
}


ul.main-menu li {
    padding: 0;
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
    margin: 0;
}



/* main */

main {
border: solid 0.9px #999999;
/* padding:  80px 20px 0px 20px; */
}

.container-main {
    max-width: 980px;
    margin: 0px auto;
    padding-top: 80px;  
}
content{
    margin-left: 0px;
    padding-left: 0px;
    
}

content {
padding-right: 25px;
    font-size: 16px;
    color: #606060;
}
ul.blog-container {

    padding-right: 10px;
}

.blog-container {
    padding:  80px 20px 0px 20px;  


}

.blog-item {
    flex-direction: column;
 padding-left: 20px;
margin-bottom: 80px;  
}

.img-blog {
    background-position: center center;
    background-size: cover;
    min-width: 10px;
    width: 100%;
    height: 250px;
}

.img-blog.img-001 { background-image: url('../img/011.png') }
.img-blog.img-002 { background-image: url('../img/022.png') }
.img-blog.img-003 { background-image: url('../img/033.png') }



.btn-continue button {
    border: solid 2px;
    background-color: rgba(0, 255, 255, 0);
    border-radius: 20px;
    color: #c2c2c2;
    border-color: #c2c2c2;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 16px;
}

.btn-continue button:hover {

    color: #58c93a;
    border-color: #58c93a;
    /* color: #999999; */
    /* font-size: 18px;  */
}
.btn-continue button:hover::after{
    content: " →";
}

.nav-page {
    border-top: solid 0.9px #999999;
    padding: 30px; 
    color: #818181;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'lato-bold','Verdana', 'Geneva', 'Tahoma', 'sans-serif'
    
}
.nav-page a{
    cursor: pointer;
    color: #818181;
    text-decoration: dotted;
}
 .logo-footer {

    font-size: 40px;

    font-family: 'eurof','Times New Roman', Times, serif;
    /* margin-top: 80px; */
 }

footer {
    border-top: solid 0.4px #999999;
    
    background-color: #f8f8f8;
   
  
}
.footer-container {
    height: 315px;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 80px;
}



.copy {
    color: #bcbcbc;
}



/* lists */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



/* fontaswem */

i.fab{
margin-right:10px;

   padding: 20px;
   width: 40px;
   height: 40px;
   color: #ffffff;
   background-color:#e5e5e5;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   cursor: pointer;
}

.fab:hover {
    background-color: #516fad;
}


/* nav-mobile */


.nav-mobile {
    cursor: pointer;
    display: block;
    float: right;
    padding: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}



/* flex */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.align stretch {

  align-items: stretch;  
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 786px) {

    /* .dropdown-content {

        dispaly:none;
    } */
    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropbtn {
        position: relative;
    }
    
    .dropdown .dropbtn {
        /* font-size: 12px;     */
        border: none;
        outline: none;
        /* color: white; */
        /* padding: 14px 16px; */
        background-color: inherit;
        /* font-family: inherit; */
        /* margin: 0; */
    }
    
    .navbar a:hover, .dropdown:hover, .dropbtn {
        background-color: red;
        /* display: block; */
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        /* bottom: 0px; */
        top: 93px;
        right: 234px;
        color: white;
        background-color: #0a0101;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .open-drop {
        display: block;
    }
    /* .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    } */
    
    .dropdown-content ,a:hover {
        background-color: #ddd;
    }

    content {
            margin: 0 0 0 40px;  
        }

    ul.blog-container {

        padding-right:0px;
    }

    .blog-item {
        flex-direction: row;
      
    }
        ul.main-menu {
        flex-direction: row;
        height: auto;
        position: static;
        /* top: 0;
        right: 0; */
        background:#292929;
        border-left: 0px ;
        /* min-width: 250px; */
        transform: translate(0, 0);
    
        /* transition: all .8s; */
    }

    .nav-mobile {
        display: none;
    }

}


@media (min-width: 556px) {

    content {
        margin: 0 0 0 40px;  
    }
    .blog-item {
        flex-direction: row;
      
    }

    ul.blog-container {

        padding-right:0px;
    }

    /* .nav-mobile {
        display: block;
    } */
    
}

/* @media (max-width: 556px) { */
   

    /* .blog-item {
    
        flex-direction: column;
    }  */
    /* content{
        margin-left: 0px;
        padding-left: 0px;
        
    } */
    

    /* ul.main-menu {
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background: rgba(10, 5, 5, 0.58);
        border-left: 1px solid rgba(102, 102, 102, 0.5);
        min-width: 250px;
        transform: translate(100%, 0);
    
        transition: all .8s;
    }
   
    ul.main-menu.open {
        transform: translate(0, 0);
    } */
/* } */






